<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC - list</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th >ID</th>
        <th >Insurer name</th>
        <th >Issued</th>
        <th >Start date</th>
        <th >End date</th>
        <th >Monthly payment</th>
        <th >Amount Insured</th>
        <th >Type</th>
        <th >Postal Number</th>
        <th >City</th>
        <th >Street</th>
        <th >Orientational Number</th>
        <th >Value</th>
        <th >Garage insurance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${contract.getId()}"></td>
        <td th:text="${contract.getInsurer().getFullName()}"></td>
        <td th:text="${contract.getIssued()}"></td>
        <td th:text="${contract.getStart()}"></td>
        <td th:text="${contract.getEnd()}"></td>
        <td th:text="${contract.getPaymentPm()}"></td>
        <td th:text="${contract.getAmountInsured()}"></td>
        <td th:text="${contract.type}"></td>
        <td th:text="${contract.address.postalNumber}"></td>
        <td th:text="${contract.address.city}"></td>
        <td th:text="${contract.address.street}"></td>
        <td th:text="${contract.address.orientationalNumber}"></td>
        <td th:text="${contract.value}"></td>
        <td th:text="${contract.isGarageInsurance()}"></td>

        <td><a th:href="@{'/contract/edit/'+ ${contract.id}}" ><span>Edit</span></a></td>

    </tr>
    </tbody>
</table>

    <a href="/user/"><span>Back to list of users</span></a><br>


</body>
</html>